.cart {
  padding: 20px;
}

.header {
  display: flex;
  text-align: center;
  gap: 4rem;
}

.title {
  text-align: center;
}

.ItemRemove {
  font-size: 1rem;
  font-family: inherit;
  color: #3b3b3b;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  background: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.ItemRemove:hover {
  color: rgb(0, 100, 139);
}

.backButton {
  cursor: pointer;
  font-size: 0px;
}

.cartContent {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.emptyText {
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
}

.cartItems {
  width: 65%;
}

.cartItem {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  margin-left: 2rem;
}

.nameText {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.priceText {
  font-size: 1.2rem;
  margin-top: 0rem;
}

.iteamText {
  font-size: 1rem;
  margin: 0rem 0rem 0.6rem 0rem;
}

.cartItem img {
  width: 13rem;
  height: 13rem;
  border-radius: 8px;
  margin-right: 1.5rem;
}

.itemDetails {
  display: flex;
  flex-direction: column;
}

.quantityControl {
  margin-top: 10px;
}

.quantityButton {
  padding: 5px 10px;
  margin-top: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.quantityDisplay {
  font-weight: bold;
  margin: 1rem;
}

.orderSummary {
  width: 30%;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 2rem;
  height: 20rem;
  margin-right: 2rem;
}

.orderSummaryTitle {
  text-align: -webkit-center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.orderSummaryItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1rem;
}

.orderSummaryTotal {
  font-weight: bold;
}

.checkoutButton {
  display: block;
  width: 100%;
  padding: 10px;
  background: #f3f3f3;
  color: #5dbaff;
  border: 1px solid #5dbaff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 4rem;
  transition: 0.3s;
}

.checkoutButton:hover {
  background: #5dbaff;
  color: white;
  border-color: #5dbaff;
}

@media (max-width: 990px) {
  .cartContent {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .header {
    margin-top: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  .cartItem {
    background: #f3f3f3;
    display: flex;
    border-radius: 1rem;
    margin: 2rem 0rem;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    align-items: center;
  }

  .cartItem img {
    margin-top: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 8px;
    margin-right: 0rem;
  }

  .cartItems {
    width: 75%;
  }
  .itemDetails {
    padding: 0rem 1rem;
    align-items: center;
  }
  .quantityButton {
    margin-top: 0rem;
  }

  .nameText {
    text-align: center;
  }

  .orderSummary {
    width: 70%;
    margin: 0;
  }
}
