.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  transition: background-color 0.3s ease;
}

.categoryIcon {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #43555e;
  font-size: 1.5rem;
}

.categoryIcon:hover {
  background-color: #929292;
  color: white;
}

.categoryIcon.active {
  background-color: black;
  color: white;
}

.categoryImage {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.categoryTitle {
  align-self: center;
  margin-top: 15px;
  font: 600 1em Inter, sans-serif;
  color: #000;
}

@media (max-width: 991px) {
  .categoryItem {
    white-space: initial;
  }
}

@media (max-width: 768px) {
  .categoryIcon {
    width: 3rem;
    height: 3rem;
  }

  .categoryTitle {
    align-self: center;
    margin-top: 15px;
    font: 600 0.6em Inter, sans-serif;
    color: #000;
  }
}
