.productCard {
  border-radius: 31px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
  min-width: 240px;
  width: 22rem;
  padding-bottom: 1.2rem;
  text-align: -webkit-right;
}

.imageContainer {
  border-radius: 29px;
  background-color: #d0d3da;
  padding: 2rem 2rem 2rem;
}

.wishlistIcon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 56px;
  align-self: end;
}
.saveHeart{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #000;
}

.ratingContainer {
  display: flex;
  gap: 1rem;
  margin-top: 15rem;
}


.ratingIcon {
  aspect-ratio: 1.03;
  object-fit: contain;
  width: 30px;
  border-radius: 2px;
}

.productInfo {
  display: flex;
  margin-top: 1.4rem;
  flex-direction: column;
  font-family: Inter, sans-serif;
  color: #000;
  padding: 0 25px;
}

.productTitle {
  font-size: 1em;
  font-weight: 400;
  align-self: flex-start;
}

.productPrice {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 0.6rem;
  align-self: flex-start;
}

@media (max-width: 991px) {
  .productCard {
    max-width: 100%;
  }

  .imageContainer {
    padding: 20px;
  }

  .productInfo {
    padding: 0 20px;
  }
}
