.button {
  border-radius: 40px;
  width: 25rem;
  max-width: 100%;
  font-weight: 700;
  padding: 19px 70px;
  cursor: pointer;
  border: none;
  align-self: center;
  font-size: 1em;
}

.primary {
  background-color: rgba(93, 186, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.secondary {
  background-color: rgba(244, 244, 244, 1);
  color: rgba(50, 50, 50, 1);

  gap: 18px;
  font-weight: 600;
  align-items: center;
}

@media (max-width: 991px) {
  .button {
    padding: 0 20px;
  }
}
